.fas {
  font-size: 100px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1  {
  color: black;
}

#spin {
  color:black;
}
#spin:after {
  content:"";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% { content:"druer";}
  10% { content:"dadler";}
  20% { content:"drommedarer";}
  30% { content:"delfiner";}
  40% { content:"drager";}
  50% { content:"diskokugler"; }
  60% { content:"dinosaurere"; }
  70% { content:"dimsedutter"; }
  80% { content:"damesko"; }
  90% { content: "danseundervisning"; }
  100% { content: "druer"; }
}

.button__text {
  color: white;
}

.icons__top {
  background-color: #ffbc00;
}

.icon__text {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.space__divider {
  margin-top: 4rem;
}

