.fas {
  font-size: 100px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1  {
  color: black;
}

#spin {
  color:black;
}
#spin:after {
  content:"";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% { content:"druer";}
  10% { content:"dadler";}
  20% { content:"drommedarer";}
  30% { content:"delfiner";}
  40% { content:"drager";}
  50% { content:"diskokugler"; }
  60% { content:"dinosaurere"; }
  70% { content:"dimsedutter"; }
  80% { content:"damesko"; }
  90% { content: "danseundervisning"; }
  100% { content: "druer"; }
}
html, body { overflow-x: hidden; }

.button__text {
  color: white;
}

.icons__top {
  background-color: #8581F6;
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
}

.text__color {
  color: white;
}

.flat__art__small {
  display: inline;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flat__art__big {
  display: none;
}

.icon__text {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.icon__header__text {
  font-size: 50px;
}

.text__weight {
  font-weight: 700;
}

.space__divider {
  margin-top: 4rem;
}

.middle__icon {
  margin-top: 50px;
  margin-bottom: 50px;
}

.header__img {
  background-image: url("../img/headerplaceholder.svg");
  width: 100%;
  background-repeat:no-repeat;
  background-position: 110% 5px;
  z-index: 1;
}

.header__placeholder__wrapper {
  position: relative;
  padding: 20rem 0 24rem 0;
  height: auto;
}

.header__placeholder {
  position: absolute;
  top: -150px;
  right: -250px;
  width: 1200px;
  z-index: -1;
}

.header__h1 {
  z-index: 1;
}

@media (min-width: 768px) {
  .flat__art__big {
    display: inline;
  }
  .flat__art__small {
    display: none;
  }
  .middle__icon {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}