.kompe__header {
  text-align: center;
}

.img__header__komp {
  height: auto;
  border-radius: 20px;
}

.show__divider {
  display: none;
}

@media (min-width: 992px) {
  .show__divider {
    display: inline;
  }
}

a {
  text-decoration: none;
}