.kontakt {
  height: 100vh;
}

.map-responsive{

  overflow:hidden;
  padding-bottom: 100%;
  position:relative;

}

.map-responsive iframe{

  height:100%;
  width:100%;
  position:absolute;

}

footer {
  margin-top: 450px;
}

@media screen and (min-width: 768px){

  .map-responsive{
    padding-bottom: 45%;

  }

  footer {
    margin-top: unset;
  }

}