* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav a {
  font-family: apertura, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black !important;
}

.nav__logo {
  height: 60px;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

footer {
  background-color: #353535;
}

.footer__icon {
  height: 32px;
  width: 32px;
  margin: 10px;
}

.footer__menu__header {
  font-weight: 300;
  color: #CECECE;
}

.footer__logo {
  max-height: 100px;
}

.copyright {
  font-size: 12px;
  font-weight: lighter;
}