* {
   box-sizing: border-box;
   font-family: apertura, sans-serif;
   font-weight: 700;
   font-style: normal;
}

body {
   margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

.btn {
   border-radius: 1.1rem !important;
}